*,
html,
body {
  font-family: $font-family;
}

h1 {
  font-size: 48px;
  line-height: 120%;
  font-weight: 600;
  font-style: normal;

  @include mediaQuery($breakpoint-mobile) {
    font-size: 24px;
  }
}

input,
button,
span {
  font-size: 18px;
  line-height: 120%;
  font-weight: 600;
  font-style: normal;
}

small {
  font-size: 12px;
  line-height: 120%;
  font-weight: 600;
  font-style: normal;
}
